* {
    margin: 0; padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
   background: black;
   
}

.everything {
    margin: 0 250px;
    height: 100%;
    background: rgb(12, 12, 12);
}

header {
    display: flex;
    justify-content: center;
    gap: 9rem;
    padding: 20px;
    background: rgba(31, 31, 31, 0.5);
   
}

a {
    font-weight: 700;
    color: white;
}

a:hover {
    transition: 1s;
    color: yellow;
}

main {
    display: flex;
    
    

}

.att {
    margin: 50px;
    display: flex;
    text-align: center;
}

.first-text {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

#img {
    height: 200px;
    width: 250px;
}
section {
    color: white;
    display: flex;
}

button {
    background: rgb(255, 166, 0);
    border: none;
    border-radius: 2px;
    margin: 3px;
    padding: 7px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-top: 15px;
}

button:hover {
    cursor: pointer;
    transition: 1s;
    background: black;
    color: white;
}


.second-text {
    font-size: 19px;
    margin: 20px;
    display: flex;
    height: 200px;
    align-items: center;
}

.img-horse {
    border: 1px solid rgb(255, 0, 85);
    border-radius: 100%;
}

.img-horse:hover {
transition: 1s;
scale: 1.1;
cursor: pointer;
}


.three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 3rem;
    font-size: 30px;

}

#img-ep {
    width: 500px;
    border: 7px solid rgb(228, 195, 7);
    border-radius: 2%;
    filter: grayscale(100);
}

#img-ep:hover {
    cursor: pointer;
    transition: 2.5s;
    filter: sepia();
    scale: 1.2;
    border: 6px solid white;
}